

  #general_signup1{

        background: url(../images/happy1.jpg) no-repeat center;
         height: 100vh;
         width: 100%;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
        min-height: 600px;
    

    }


    
  #general_signup2{

        background: url(../images/happy3.jpg) no-repeat center;
         height: 100vh;
         width: 100%;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
        min-height: 600px;
    

    }

    