.load-screen {
background-color: #ffffff;
position: fixed;
z-index: 10000;
top:0px;
width: 100%;
height: 1600px;

}


.loading {

width: 500px;
height: 500px;
margin: 10% auto;
background: url(../loader/loading.gif);
background-size: 40%;
background-repeat: no-repeat;
background-position: center;

}
