#sign_in1 {

    background: transparent url(../images/patient1.jpg) no-repeat center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;


}



#sign_in2 {

    background: transparent url(../images/doctor1.png) no-repeat center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 600px;


}